<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.counting">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/count"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/count"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoTop">
        <activity android:name=".SettingsActivity"></activity>
        <!-- android:theme="@android:style/Theme.Light.NoTitleBar"> -->
        <activity android:name=".UsersActivity"></activity>
        <activity android:name=".Congratulations"></activity>
        <activity android:name=".Task"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>